@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.body{
    background-color: rgba(7, 7, 7, 0.849);
    background-attachment: fixed;
    color: azure;
}




.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .debug-scroll {
    overflow-x: scroll;
  }





  